.background-container {
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('assets/banner.avif');
    background-size: cover;
    background-position: center;
  }
  
  .background-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(87, 87, 87, 0.7);
  }
  
  .overlay {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
  }
  